In [1]:
import pandas as pd 
import numpy as np

In [3]:
df1 = pd.read_csv('/content/rideshare_kaggle.csv')
df1.head()

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1.544980e+09,39.89,1.545012e+09,43.68,1.544969e+09,33.73,1.545012e+09,38.07,1.544958e+09
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1.543252e+09,40.49,1.543234e+09,47.30,1.543252e+09,36.20,1.543291e+09,43.92,1.543252e+09
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1.543338e+09,35.36,1.543378e+09,47.55,1.543320e+09,31.04,1.543378e+09,44.12,1.543320e+09
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1.543507e+09,34.67,1.543550e+09,45.03,1.543511e+09,30.30,1.543550e+09,38.53,1.543511e+09
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1.543421e+09,33.10,1.543403e+09,42.18,1.543421e+09,29.11,1.543392e+09,35.75,1.543421e+09

In [17]:
df1.isnull().sum().sum()

0

In [16]:
df1.dropna(axis = 0 , inplace = True)

In [20]:
df1['name'].value_counts()

UberPool        20595
WAV             20546
Black SUV       20531
UberX           20528
UberXL          20512
Black           20512
Shared          19253
Lux Black XL    19237
Lux Black       19224
Lyft            19223
Lux             19220
Lyft XL         19214
Name: name, dtype: int64

In [21]:
df1['name'].unique()

array(['Shared', 'Lux', 'Lyft', 'Lux Black XL', 'Lyft XL', 'Lux Black',
       'UberXL', 'Black', 'UberX', 'WAV', 'Black SUV', 'UberPool'],
      dtype=object)

In [26]:
df1['uvIndexTime']=pd.to_datetime(df1['uvIndexTime'])
df1

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1970-01-01 00:00:01.544979600,39.89,1.545012e+09,43.68,1.544969e+09,33.73,1.545012e+09,38.07,1.544958e+09
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1970-01-01 00:00:01.543251600,40.49,1.543234e+09,47.30,1.543252e+09,36.20,1.543291e+09,43.92,1.543252e+09
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1970-01-01 00:00:01.543338000,35.36,1.543378e+09,47.55,1.543320e+09,31.04,1.543378e+09,44.12,1.543320e+09
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1970-01-01 00:00:01.543507200,34.67,1.543550e+09,45.03,1.543511e+09,30.30,1.543550e+09,38.53,1.543511e+09
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1970-01-01 00:00:01.543420800,33.10,1.543403e+09,42.18,1.543421e+09,29.11,1.543392e+09,35.75,1.543421e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259122,ecaee030-0170-465d-b5fe-82068ed3cd28,1.544700e+09,11,13,12,2018-12-13 11:25:03,America/New_York,Northeastern University,North Station,Lyft,...,0.0001,1970-01-01 00:00:01.544716800,18.24,1.544688e+09,33.96,1.544731e+09,13.72,1.544688e+09,32.95,1.544735e+09
259123,10733fa4-0584-48b4-8148-4f6a2d43c8c8,1.544700e+09,11,13,12,2018-12-13 11:25:03,America/New_York,North End,Financial District,Lyft,...,0.0001,1970-01-01 00:00:01.544716800,18.24,1.544688e+09,33.96,1.544731e+09,13.72,1.544688e+09,32.95,1.544735e+09
259124,2b276bf4-47bf-41cb-8fb9-d09a7dbd2021,1.544700e+09,11,13,12,2018-12-13 11:25:03,America/New_York,North End,Financial District,Lyft,...,0.0001,1970-01-01 00:00:01.544716800,18.24,1.544688e+09,33.96,1.544731e+09,13.72,1.544688e+09,32.95,1.544735e+09
259125,c0648052-3289-419b-b4a4-610ff1c34128,1.544700e+09,11,13,12,2018-12-13 11:25:03,America/New_York,North End,Financial District,Lyft,...,0.0001,1970-01-01 00:00:01.544716800,18.24,1.544688e+09,33.96,1.544731e+09,13.72,1.544688e+09,32.95,1.544735e+09
259126,d944a218-89ac-4622-b039-62fad3690bf3,1.544700e+09,11,13,12,2018-12-13 11:25:03,America/New_York,North End,Financial District,Lyft,...,0.0001,1970-01-01 00:00:01.544716800,18.24,1.544688e+09,33.96,1.544731e+09,13.72,1.544688e+09,32.95,1.544735e+09

In [29]:
df2 = df1[df1['name'].isin(['Shared','Lyft','UberPool', 'Black suv','UberX','Taxi','Lux'])]
df2.head()

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1970-01-01 00:00:01.544979600,39.89,1.545012e+09,43.68,1.544969e+09,33.73,1.545012e+09,38.07,1.544958e+09
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1970-01-01 00:00:01.543251600,40.49,1.543234e+09,47.30,1.543252e+09,36.20,1.543291e+09,43.92,1.543252e+09
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1970-01-01 00:00:01.543338000,35.36,1.543378e+09,47.55,1.543320e+09,31.04,1.543378e+09,44.12,1.543320e+09
8,4f9fee41-fde3-4767-bbf1-a00e108701fb,1.543818e+09,6,3,12,2018-12-03 06:28:02,America/New_York,Back Bay,Northeastern University,Lyft,...,0.0004,1970-01-01 00:00:01.543852800,43.09,1.543896e+09,57.02,1.543853e+09,39.90,1.543896e+09,56.35,1.543853e+09
10,9043bf77-1d45-4a93-9520-a083e0277f16,1.543594e+09,16,30,11,2018-11-30 16:13:03,America/New_York,Back Bay,Northeastern University,Lyft,...,0.0004,1970-01-01 00:00:01.543593600,28.64,1.543579e+09,42.32,1.543601e+09,29.29,1.543579e+09,40.48,1.543612e+09

In [34]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [35]:
df2.to_csv('data.csv')
!cp data.csv "drive/My Drive/"